
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background: #e9e9e9;
}

#root {
  min-height: 100vh;
}

/* ===== APP LAYOUT ===== */
.App {
  min-height: 100vh;            
  display: flex;
  flex-direction: column;       
}


.app-content {
  flex: 1;
}